In [5]:
from datetime import datetime, timedelta

def is_current_time_greater(last_time):
    current_time = datetime.now()
    print(current_time)
    time_difference = current_time - last_time

    if time_difference >= timedelta(minutes=5):
        return True
    else:
        return False

# Example usage:
last_time = datetime(year=2023, month=7, day=15, hour=2, minute=35, second=0)
result = is_current_time_greater(last_time)
print(result)

2023-07-15 02:35:28.445046
False

In [6]:
last_time

datetime.datetime(2023, 7, 15, 5, 35)

In [7]:
current_time = datetime.now()
current_time

datetime.datetime(2023, 7, 15, 2, 36, 43, 315801)

In [15]:
import re

def remove_non_numeric_chars(string):
    return re.sub(r'\D', '', string)

# Example usage:
text = "1d"
result = remove_non_numeric_chars(text)
print(result)

1

In [16]:
import pandas as pd
from lightweight_charts import Chart
import ccxt
import requests
import time
import numpy as np
import asyncio
import pandas_ta as ta
from datetime import datetime, timedelta
import re

In [17]:
class Essential():
    def __init__(self):
        self.exchange=ccxt.binance()

    def ohlc_data_fetch(self, symbol='BTCUSDT', timeframe='5m'):
        ohlcv = self.exchange.fetch_ohlcv(symbol, timeframe)

        dataframe = pd.DataFrame(ohlcv, columns=['time', 'open', 'high', 'low', 'close', 'volume'])
        dataframe['time'] = pd.to_datetime(dataframe['time'], unit='ms')
        # df.set_index('timestamp', inplace=True)
        return dataframe

    def current_price_data(self, symbol):
        data = requests.get(f"https://api.binance.com/api/v3/ticker/price?symbol={symbol}")  
        data = data.json()
        data['time'] = int(time.time())

        dataframe = pd.DataFrame([data])
        dataframe['price'] = dataframe['price'].astype(float)
        dataframe['time'] = pd.to_datetime(dataframe['time'], unit='s')
        dataframe['volume'] = np.nan
        return dataframe
    
    def check_time_difference(self, current_time, last_time, interval):
        time_difference = current_time - last_time
        print(time_difference, " ",interval )
        if time_difference >= timedelta(minutes=interval):
            return True
        else:
            return False
    
    
    def remove_non_numeric_chars(self, string):
        return int(re.sub(r'\D', '', string))

In [20]:
esn = Essential()

symbol = 'BNB/USDT'
tick_symbol = symbol.replace("/", "")
timeframe = '1m'

timeframe_interval = esn.remove_non_numeric_chars(timeframe)
df = esn.ohlc_data_fetch(symbol=symbol, timeframe=timeframe)
df.tail(3)

                   time   open   high    low  close   volume
497 2023-07-14 22:25:00  246.1  246.2  245.9  245.9  303.665
498 2023-07-14 22:26:00  245.9  246.0  245.9  245.9   15.443
499 2023-07-14 22:27:00  246.0  246.0  245.9  246.0    4.593

In [21]:
last_time = df['time'].iloc[-1]
last_time

Timestamp('2023-07-14 22:27:00')

In [24]:
tick =  esn.current_price_data(tick_symbol)
tick['time']

0   2023-07-14 22:42:37
Name: time, dtype: datetime64[ns]

In [27]:
time_difference = tick['time'] - last_time
time_difference

0   0 days 00:15:37
Name: time, dtype: timedelta64[ns]

In [41]:
condition = (time_difference >= timedelta(minutes=timeframe_interval))[0]
# type(condition)
condition

True

In [30]:
if time_difference >= timedelta(minutes=timeframe_interval):
    True
else:
    False

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().